*.pdf filter=lfs diff=lfs merge=lfs -text
data/CDU_BTW2025.pdf filter=lfs diff=lfs merge=lfs -text
data/DIE_LINKE_Wahlprogramm_zur_Bundestagswahl_2021.pdf filter=lfs diff=lfs merge=lfs -text
data/FDP_Programm_Bundestagswahl2021_1.pdf filter=lfs diff=lfs merge=lfs -text
data/Grüne_BTW2025.pdf filter=lfs diff=lfs merge=lfs -text
data/Programm_AfD_Online_.pdf filter=lfs diff=lfs merge=lfs -text
data/SPD-Zukunftsprogramm.pdf filter=lfs diff=lfs merge=lfs -text
data/BSW_Parteiprogramm.pdf filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
